#main li{
    list-style: none;
    border:1px solid black;
    float: left;
    margin: 5px;

}
#main li a{
    text-decoration: none;
    clear: both;
    display: block;
    text-align: center;
}
#main li a:hover{
    cursor: default;
}
#main img{
    clear: both;
    display: block;

}